@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


input{
	background-color: #fbfbfb; 
	height: 50px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #148F77; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

.jet1{
    width: 20px;
    margin: 12px 42px 8px 80px;
}
.jet2{
    width: 20px;
    margin: 12px 42px 8px 80px;
}

label.opciones{
    text-align: center;
    width: 340px;
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: math-auto;
	background-color: #56BC8C; 
	border-color: #56BC8C; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


/**************************************************Estilo de login********************************************/

.login-page {
    font-family: sans-serif;
    background: #EAF9F2;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    padding: 50px;
    transform: translate(-50%, -50%);
    background: rgb(250, 248, 248);
    border-radius: 4em;
	border-left: #BAEBD4 solid 37px;
	border-right: #BAEBD4 solid 37px;
	border-top: #BAEBD4 solid 25px;
	border-bottom: #BAEBD4 solid 25px;
	height: 410px;

}

.heading-login-box {
    margin-top: 20px;
    margin-bottom: 40px;
    color: black;
    text-align: center;
}

.user-box {
    position: relative;
}

.user-box-input {
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #EAF9F2;
}

.user-box-label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 14px;
    color: black;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #56BC8C;
    font-size: 12px;
}

.login-box-button {
    position: relative;
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
	background: #56BC8C;
	border-radius: 24px;
	text-align: center;
    width: 120px;
	margin-inline: auto;
	text-transform: math-auto;
	cursor: pointer;
	
}

/*.login-box a:hover {
    background: #8ab0df;
    color: #fff;
}*/

.login-box a span {
    position: absolute;
    display: block;
}

.correo{
	width: 22px;
    height: 22px;
    display: flex;
    padding: 0px;
    margin-left: 320px;
    margin-top: -88px;
}

.opc-1{
	width: 36px;
    height: 36px;
    display: inline;
    padding: 5px;
	background: rgba(86, 188, 140, 0.76);
    border-radius: 10px;
	margin-top: 30px;
}

.opc-2{
	width: 36px;
    height: 36px;
    display: inline;
    padding: 5px;
	background: rgba(86, 188, 140, 0.76);
    border-radius: 10px;
}

.opciones{
	font-family: sans-serif;
	font-size: 14px;
	display: block;
}


/*************Radio***********/




@media screen and (max-width: 576px) and (min-width: 400px) {
    .login-box {
        width: 250px;
    }

	.correo{
		width: 22px;
		height: 22px;
		display: flex;
		padding: 0px;
		margin-left: 220px;
		margin-top: -90px;
	}
}

@media screen and (max-width: 400px) {
    .login-box {
        width: 180px;
    }

    .heading-login-box {
        font-size: 16px !important;
    }

    .user-box-input {
        font-size: 12px;
    }

    .user-box-label {
        font-size: 12px;
    }
    .login-box-button {
        font-size: 12px;
    }
	.login-box {
		border-radius: 4em;
		border-left: #BAEBD4 solid 25px;
		border-right: #BAEBD4 solid 25px;
		border-top: #BAEBD4 solid 15px;
		border-bottom: #BAEBD4 solid 15px;
	
	}

	.correo{
		width: 22px;
		height: 22px;
		display: flex;
		padding: 0px;
		margin-left: 150px;
		margin-top: -90px;
	}
}